/* app global css */

$font-family-lexend: 'Lexend Zetta', sans-serif;
$font-family-museo: 'MuseoModerno', sans-serif;
$font-family-montserrat: 'Montserrat', sans-serif;
$font-family-nunito: 'Nunito Sans', sans-serif;


:root {
  .q-card__actions {
    padding: 1rem;
  }
  --px20: 1.5rem;
  --px30: 1.875rem;
  --px43: 2.6rem;
  --px60: 3.75rem;
  --px64: 4rem;
  --px90: 5.5rem;
  --coefficient: 5vmax;
  --coefficient_gap: 2vmin;
  --width_coefficient: 20rem;
  --width_coefficient: 21rem;
  --border-sm: 1.3rem;
  --box-shadow--product_cart: 0 0 3px 2px #00000039;
  // --calc_width: calc($width_coefficient + var(--coefficient));
}


body {
  font-family: $font-family-nunito;
  color: var(--q-text);
  background: transparent;
  // background: #FBFBFF;
}

body.body--dark {
  color: var(--q-text);
}
.q-layout {
  z-index: 11;
}

.bg_layer {
  background-image: url(/src/assets/bg.svg);
  background-position: center;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
}

.body--dark {
  --q-primary: #234141;
  --q-secondary: #1e1e1e;
  --q-positive: #0EB60B;
  --q-negative: #C6C9D1;
  --q-warning: #EE7474;
  --q-accent: #3C3C3C;
  --q-green-light: #ecffda;
  --q-header_bg: #fefefe;
  // --q-dark-page: url(/src/assets/background.svg);
  --q-dark-page: transparent;
  // --q-dark-page: #FBFBFF;
  --q-text: #1E1E1E;
  --q-dark: #FBFBFF;
}

.body--light {
  --q-primary: #7143ba;
  --q-secondary: #1e1e1e;
  --q-positive: #0EB60B;
  --q-negative: #C6C9D1;
  --q-warning: #EE7474;
  --q-accent: #3C3C3C;
  --q-green-light: #ecffda;
  --q-header_bg: #fefefe;
  --q-text: #1E1E1E;
}

.text-h1 {
  font-size: calc(3rem + 1vmax);
  font-family: $font-family-nunito;
  font-weight: bold;
  line-height: normal;
  color: var(--q-text);
}
.text-h2 {
  font-size: calc(3rem + 0.5vmax);
  font-family: $font-family-nunito;
  font-weight: bold;
  line-height: normal;
  color: var(--q-text);
}
.text-h3 {
  font-size: calc(2rem + 0.5vmax);
  font-family: $font-family-nunito;
  font-weight: bold;
  line-height: normal;
  color: var(--q-text);
}
.text-h4 {
  font-size: calc(1.4rem + 0.5vmax);
  font-family: $font-family-nunito;
  font-weight: bold;
  line-height: normal;
  color: var(--q-text);
}
.text-subtitle1 {
  font-size: calc(1.2rem + 0.4vmax);
  font-family: $font-family-nunito;
  // font-weight: bold;
  line-height: normal;
  // color: var(--q-text);
}

.text-subtitle2 {
  font-size: calc(1.5rem + 0.7vmax);
  font-family: $font-family-nunito;
  line-height: normal;
  // color: var(--q-text);
}

.text-body1 {
  font-size: calc(1.5rem + 0.5vmax);
  font-family: $font-family-nunito;
  font-weight: normal;
  line-height: normal;
  color: var(--q-text);
}

.round-button-light_green {
  background-color: var(--q-primary);
  color: white;
  padding: 0.5rem;
  box-shadow: 0 0 1px 2px white;
  border-radius: 50%;
  width: calc(2rem + 0.5vmin);
  height: calc(2rem + 0.5vmin);
}

.round-button-dark_green {
  background-color: var(--q-positive);
  color: white;
  padding: 0.5rem;
  box-shadow: 0 0 1px 2px white;
  border-radius: 50%;
  width: calc(2rem + 0.5vmin);
  height: calc(2rem + 0.5vmin);
}

.q-page-container {
  // margin-top: 10rem;
}

.q-img {
  border-radius: var(--border-sm);
}

.q-drawer--right {
  box-shadow: -1px 0px 5px 0px #d5ebd8;
}

.q-drawer__content {
  display: grid;
  grid-template-rows: max-content 1fr 0.1fr;
}

.q-dialog__backdrop {
  background: rgba(0, 0, 0, 0.3);
}

.q-dialog__inner > div {
  border-radius: var(--border-sm);
}

.dialog_card {
  background-color: var(--q-header_bg);
  padding: 3rem;
}

.q-dark {
  color: var(--q-text)
}

.q-tab__label {
  font-size: calc(1.7rem + 0.5vmax);
}

.q-tab-panel {
  background-color: transparent;
}
.q-tab-panels {
  background-color: transparent;
}

.q-notification {
  // background-image: url(/src/assets/order_button.svg);
  // background-position: center;
  background-color: var(--q-primary);
  max-width: 85vw;
}

.q-notification--multi-line{
  min-height: 7.5rem;
}

.q-notification__actions {
  justify-content: center;
}

.q-notification__actions > button > span:nth-child(2) {
  font-size: calc(1.5rem + 0.8vmax);
  font-weight: bold;
}

.q-notifications__list {
  margin-bottom: 5.5rem;
}

.q-carousel__slide {
  padding: 0;
}

.q-carousel__navigation--bottom {
  bottom: 0;
}

.logo_column {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 12rem;
}

.logo_row {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

.q-field__control{
  height: 5rem;
}
.input_settings {
  font-size: 3rem;
}

.title_padding {
  padding-top: var(--px64);
}
