/* app global css */

$font-family-nunito: 'Nunito Sans', sans-serif;
@font-face {
  font-family: $font-family-nunito;
  src: url(./NunitoSans-VariableFont_YTLC,opsz,wdth,wght.ttf);
}


:root {
  .q-card__actions {
    padding: 1rem;
  }
  --px20: 1.5rem;
  --px30: 1.875rem;
  --px43: 2.6rem;
  --px60: 3.75rem;
  --px64: 4rem;
  --px90: 5.5rem;
  --coefficient: 5vmax;
  --coefficient_gap: 2vmin;
  --width_coefficient: 22rem;
  --border-sm: 1.3rem;
  --border-md: 2rem;
  --box-shadow--product_cart: 0 0 3px 2px #00000039;
  --border-shadow: 0 0 3px 1px #c2c2c2;
  // --calc_width: calc($width_coefficient + var(--coefficient));
}


body {
  font-family: $font-family-nunito;
  color: var(--q-text);
  background: transparent;
  // direction: '__MSG_@@bidi_dir__';
  // background: #FBFBFF;
}

body.body--dark {
  color: var(--q-text);
}
.q-layout {
  z-index: 11;
}

.bg_layer {
  background-image: url(/bg.svg);
  background-position: center;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
}

.body--dark {
  // --q-primary: #234141;
  // --q-secondary: #1e1e1e;
  // --q-positive: #0EB60B;
  // --q-negative: #C6C9D1;
  // --q-warning: #E14444;
  // --q-accent: #3C3C3C;
  --q-green-light: #ecffda;
  --q-header_bg: #fefefe;
  --q-dark-page: transparent;
  // --q-dark-page: #FBFBFF;
  --q-text: #1E1E1E;
  --q-dark: #FBFBFF;
}

.body--light {
  // --q-primary: #234141;
  // --q-secondary: #1e1e1e;
  // --q-positive: #0EB60B;
  // --q-negative: #C6C9D1;
  // --q-warning: #EE7474;
  // --q-accent: #3C3C3C;
  --q-green-light: #ecffda;
  --q-header_bg: #fefefe;
  --q-dark-page: transparent;
  // --q-dark-page: #FBFBFF;
  --q-text: #1E1E1E;
  --q-dark: #FBFBFF;
}

.text-txt {
  font-size: 1.5rem;
  font-family: $font-family-nunito;
  font-weight: normal;
  line-height: normal;
  color: var(--q-text);
}

.first_letter::first-letter {
  text-transform: uppercase
}


.round-button-dark_green {
  background-color: positive;
  // background-color: var(--q-positive);
  color: white;
  padding: 0.5rem;
  box-shadow: 0 0 1px 2px white;
  border-radius: 50%;
  width: calc(2rem + 0.5vmin);
  height: calc(2rem + 0.5vmin);
}

.q-page-container {
  // margin-top: 10rem;
}

.q-img {
  border-radius: var(--border-sm);
}

.q-drawer--right {
  box-shadow: -1px 0px 5px 0px #d5ebd8;
}

.q-drawer__content {
  display: grid;
  grid-template-rows: max-content 1fr 0.1fr;
}

.q-dialog__backdrop {
  background: rgba(0, 0, 0, 0.4);
}

.q-dialog__inner > div {
  border-radius: var(--border-sm);
}

.dialog_card {
  background-color: var(--q-header_bg);
  padding: var(--px30);
}

.q-dark {
  color: var(--q-text)
}

.product_tab_label_style .q-tab__label {
  font-size: 2.5rem;
  text-transform: capitalize;
  font-weight: 600;
  line-height: 1.15em;
}
.category_tab_label_style .q-tab__label {
  font-size: 3.5rem;
  text-transform: capitalize;
  font-weight: 700;
  line-height: 1.15em;
}

.q-tab-panel {
  background-color: transparent;
  padding: 1rem 0;
}
.q-tab-panels {
  background-color: transparent;
}

.q-tabs__content > *:first-child {
  padding-left: 0;
}

.notification_styles .q-notification {
  max-width: 85vw;
}
.notification_styles .q-notification--multi-line {
  min-height: 9rem;
}
.notification_styles .q-notification__actions {
  justify-content: center;
}
.notification_styles .q-notification__actions > button > span:nth-child(2) {
  font-size: 2rem;
  font-weight: bold;
  padding: 2rem;
}
.notification_styles .q-notifications__list {
  margin-bottom: 6rem;
}
.warning_customization .q-notification {
  max-width: 65vw;
}

.warning_customization .q-notification__wrapper {
  flex-direction: row-reverse;
}
.warning_customization .q-notification__actions {
  justify-content: center;
}

.warning_customization .q-notification__actions > button > span:nth-child(2) {
  font-size: 1.5rem;
  font-weight: bold;
  padding: 2rem;
  justify-content: center;
  width: 55vw;
}

.scanner_issue .q-notification__message {
  font-size: 1.5rem;
  text-transform: uppercase;
}

.q-carousel__slide {
  padding: 0;
}

.q-carousel__navigation--bottom {
  bottom: 0;
}

.logo_column {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 8rem;
}

.logo_row {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

.q-field__control {
  height: 4rem;
  align-items: center;
  box-shadow: inset var(--box-shadow--product_cart);
}
.input_settings {
  font-size: 2rem;
}

.title_padding {
  padding-top: var(--px64);
}

.q-field--error .q-field__bottom {
  color: white;
  font-size: 1rem;
}

.q-field--outlined.q-field--rounded .q-field__control {
  border-radius: 1rem;
}

.q-card__section--vert {
padding: 0;
}

.scroll_area {
  overflow-y: scroll;
  padding: 0.8rem;
}

.highlighted {
  background-color: var(--q-negative);
  filter: drop-shadow(0px 2px 3px var(--q-primary));

}
