// https://quasar.dev/style/sass-scss-variables#variables-list

// responsive fonts
// $h1: (size: clamp(2rem, 6vw + 0.5rem, 6rem), line-height: 1.5, letter-spacing: -.01562em, weight: 700) !default;
// $h2: (size: clamp(1.5rem, 2vw + 0.5rem, 2.25rem), line-height: 1.5, letter-spacing: -.00833em, weight: 700) !default;
// $h3: (size: clamp(1.375rem, 1.5vw + 1rem, 2rem), line-height: 1.3, letter-spacing: normal, weight: 600) !default;
// $h4: (size: clamp(1.15rem, 1.3vw + 0.5rem, 1.5rem), line-height: 1.5, letter-spacing: .00735em, weight: 600) !default;
// $subtitle1: (size: clamp(0.75rem, 0.7vw + 0.5rem, 1rem), line-height: 1.1, letter-spacing: .00937em, weight: 400) !default;
// $body1: (size: clamp(1rem, 1vw + 0.5rem, 1.125rem), line-height: 1.5, letter-spacing: .03125em, weight: 400) !default;

// not responsive fonts
$h1: (size: 6rem, line-height: 1, letter-spacing: -.01562em, weight: 700) !default;
$h2: (size: 2.25rem, line-height: 1, letter-spacing: -.00833em, weight: 700) !default;
$h3: (size: 2rem, line-height: 1, letter-spacing: normal, weight: 600) !default;
$h4: (size: 1.5rem, line-height: 1, letter-spacing: .00735em, weight: 600) !default;
$subtitle1: (size: 1rem, line-height: 1, letter-spacing: .00937em, weight: 400) !default;
$body1: (size: 1.125rem, line-height: 1, letter-spacing: .03125em, weight: 400) !default;

// sizes for define margins/paddings
$space-base: 16px !default;
$space-x-base: $space-base !default;
$space-y-base: $space-base !default;

$space-none: (x: 0, y: 0) !default;
$space-xs: (x: ($space-x-base * .63), y: ($space-y-base * .63)) !default; // 10px
$space-sm: (x: ($space-x-base * 1), y: ($space-y-base * 1)) !default; // 16px
$space-md: (x: ($space-x-base * 1.5), y: ($space-y-base * 1.5)) !default; // 24px
$space-lg: (x: ($space-x-base * 1.875), y: ($space-y-base * 1.875)) !default; // 30px
$space-xl: (x: ($space-x-base * 2.5), y: ($space-y-base * 2.5)) !default;  // 40px

// q-btn
$button-rounded-border-radius: 30px !default;

// color
$primary: #234141 !default;
$secondary: #1e1e1e !default;
$accent: #3C3C3C !default;

// used by dark mode
$dark-page: #121212 !default;
$dark: #1d1d1d !default;

$positive: #0EB60B !default;
$negative: #C6C9D1 !default;
$info: #31CCEC !default;
$warning: #E14444 !default;

// pallet
$green : #88D863 !default;
$grey : #5D5D5D !default;
$grey-1 : #181818 !default;
$grey-2 : #1f1f1f !default;
$grey-3 : #272727 !default;
$red: #DB4040 !default;
$yellow: #FFB72D !default;
$white: #FAFAFA !default;
