// https://quasar.dev/style/sass-scss-variables#variables-list

// text
$h1: (size: clamp(1.5rem, 0.4167rem + 5.4167vmax, 8rem), line-height: 1.3, letter-spacing: -.01562em, weight: 700) !default;
$h2: (size: clamp(1.5rem, 1.0352rem + 2.3239vmax, 3.5rem), line-height: 1.3, letter-spacing: -.00833em, weight: 700) !default;
$h3: (size: clamp(1rem, 0.5352rem + 2.3239vmax, 3rem), line-height: 1.3, letter-spacing: normal, weight: 600) !default;
$h4: (size: clamp(1.375rem, 1.1136rem + 1.3072vmax, 2.5rem), line-height: 1.3, letter-spacing: .00735em, weight: 600) !default;
$h5: (size: clamp(0.875rem, 0.6136rem + 1.3072vmax, 2rem), line-height: 1.3, letter-spacing: .00735em, weight: 600) !default;
$subtitle1: (size: clamp(0.75rem, 0.5176rem + 1.1619vmax, 1.75rem), line-height: 1.1, letter-spacing: .00937em, weight: 400) !default;
$subtitle2: (size: clamp(0.625rem, 0.4798rem + 0.7262vmax, 1.25rem), line-height: 1.1, letter-spacing: .00714em, weight: 500) !default;
$body1: (size: clamp(0.8125rem, 0.6527rem + 0.7988vmax, 1.5rem), line-height: 1.1, letter-spacing: .03125em, weight: 400) !default;

// sizes for define margins/paddings
$space-base: 16px !default;
$space-x-base: $space-base !default;
$space-y-base: $space-base !default;

$space-none: (x: 0, y: 0) !default;
$space-xs: (x: ($space-x-base * .5), y: ($space-y-base * .5)) !default;
$space-sm: (x: ($space-x-base * 1.5), y: ($space-y-base * 1.5)) !default;
$space-md: (x: ($space-x-base * 4), y: ($space-y-base * 4)) !default;
$space-lg: (x: ($space-x-base * 5), y: ($space-y-base * 5)) !default;
$space-xl: (x: ($space-x-base * 6), y: ($space-y-base * 6)) !default;

// q-btn
$button-rounded-border-radius: 30px !default;

// color
$primary: #234141 !default;
$secondary: #1e1e1e !default;
$accent: #3C3C3C !default;

// used by dark mode
$dark-page: #121212 !default;
$dark: #1d1d1d !default;

$positive: #0EB60B !default;
$negative: #C6C9D1 !default;
$info: #31CCEC !default;
$warning: #E14444 !default;

// pallet
$green : #88D863 !default;
$grey : #5D5D5D !default;
$grey-1 : #181818 !default;
$grey-2 : #1f1f1f !default;
$grey-3 : #272727 !default;
$red: #DB4040 !default;
$yellow: #FFB72D !default;
